**/target/
**/tmp/
.idea
.vscode
.DS_Store
.cargo/config

**/node_modules/
**/ts-tests/.yarn

tags.lock

recipe.json
rococo-fork.json

gethdata

*.patch
/log
/log-backup
**/__pycache__/
**/.env

rust-analyzer.json
