**/target/
**/tmp/
.idea
.vscode
.DS_Store
.cargo/config

**/node_modules/

docker/yarn.lock
docker/generated-*/
tee-worker/docker/litentry/

ts-tests/package-lock.json

tags.lock

recipe.json

gethdata

*.patch

# Local dev environment config files
tee-worker/.env
tee-worker/ts-tests/.env.local
ts-tests/config.local.json

# Docker files
docker/.yarn