[package]
name = "itp-top-pool-author"
version = "0.9.0"
authors = ['Trust Computing GmbH <info@litentry.com>', 'Integritee AG <hello@integritee.network>']
edition = "2021"

[dependencies]
# sgx dependencies
sgx_tstd = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true }

# local dependencies
itp-enclave-metrics = { path = "../enclave-metrics", default-features = false }
itp-ocall-api = { path = "../ocall-api", default-features = false }
itp-sgx-crypto = { path = "../sgx/crypto", default-features = false }
itp-stf-primitives = { path = "../stf-primitives", default-features = false }
itp-stf-state-handler = { path = "../stf-state-handler", default-features = false }
itp-test = { path = "../test", default-features = false, optional = true }
itp-top-pool = { path = "../top-pool", default-features = false }
itp-types = { path = "../types", default-features = false }

# sgx enabled external libraries
jsonrpc-core_sgx = { package = "jsonrpc-core", git = "https://github.com/Kailai-Wang/jsonrpc-sgx", branch = "sgx-sdk-2.0.0", default-features = false, optional = true }

# std compatible external libraries (make sure these versions match with the sgx-enabled ones above)
jsonrpc-core = { version = "18", optional = true }

# no-std compatible libraries
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
derive_more = { version = "0.99.5" }
log = { version = "0.4", default-features = false }
sp-core = { default-features = false, features = ["full_crypto"], git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }

lazy_static = { version = "1.1.0", optional = true }

# litentry
itp-utils = { path = "../utils", default-features = false }
litentry-primitives = { path = "../../litentry/primitives", default-features = false }

[dev-dependencies]
futures = { version = "0.3" }
itp-sgx-crypto = { path = "../sgx/crypto", features = ["mocks"] }
itp-test = { path = "../test" }
itp-top-pool = { path = "../top-pool", features = ["mocks"] }
sgx_crypto = { git = "https://github.com/apache/incubator-teaclave-sgx-sdk", branch = "v2.0.0-preview", default-features = false, features = ["ucrypto"] }
sp-keyring = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }
lc-rsa-wrapper = { path = "../../litentry/core/rsa-wrapper" }

[features]
default = ["std"]
std = [
    "itp-sgx-crypto/std",
    "itp-enclave-metrics/std",
    "itp-ocall-api/std",
    "itp-stf-state-handler/std",
    "itp-top-pool/std",
    "itp-types/std",
    "jsonrpc-core",
    "log/std",
    # litentry
    "litentry-primitives/std",
    "itp-utils/std",
]
sgx = [
    "sgx_tstd",
    "jsonrpc-core_sgx",
    "itp-enclave-metrics/sgx",
    "itp-sgx-crypto/sgx",
    "itp-stf-state-handler/sgx",
    "itp-top-pool/sgx",
    # litentry
    "litentry-primitives/sgx",
]
test = ["itp-test/sgx", "itp-top-pool/mocks"]
mocks = ["lazy_static"]
sidechain = []
offchain-worker = []
