[package]
name = "its-primitives"
version = "0.1.0"
authors = ['Trust Computing GmbH <info@litentry.com>', 'Integritee AG <hello@integritee.network>']
homepage = 'https://litentry.com/'
repository = 'https://github.com/litentry/litentry-parachain'
license = "Apache-2.0"
edition = "2021"

[dependencies]
codec = { package = "parity-scale-codec", workspace = true, features = ["full"] }
itp-types = { workspace = true }
scale-info = { workspace = true }
serde = { workspace = true }

sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

[features]
default = ["std", "full_crypto"]
full_crypto = [
    "sp-core/full_crypto",
]
std = [
    "codec/std",
    "scale-info/std",
    "serde/std",
    "itp-types/std",
    # substrate
    "sp-core/std",
    "sp-runtime/std",
    "sp-std/std",
]
