[package]
authors = ["Litentry Dev"]
edition = "2021"
name = "litentry-primitives"
version = "0.1.0"

[dependencies]
base64 = { version = "0.13", default-features = false, features = ["alloc"], optional = true }
base64_sgx = { package = "base64", rev = "sgx_1.1.3", git = "https://github.com/mesalock-linux/rust-base64-sgx", optional = true }
chrono = { version = "0.4.23", features = ["clock"], optional = true }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
hex = { version = "0.4.3", default-features = false, optional = true }
rand = { version = "0.7", optional = true }
rand-sgx = { package = "rand", git = "https://github.com/mesalock-linux/rand-sgx", tag = "sgx_1.1.3", features = ["sgx_tstd"], optional = true }
ring = { version = "0.16.20", default-features = false }
scale-info = { version = "2.4.0", default-features = false, features = ["derive"] }
serde = { version = "1.0", default-features = false, features = ["alloc", "derive"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.39", default-features = false }

# sgx dependencies
chrono_sgx = { package = "chrono", git = "https://github.com/mesalock-linux/chrono-sgx", optional = true }
sgx_tstd = { git = "https://github.com/apache/teaclave-sgx-sdk.git", branch = "master", optional = true, features = ["net", "thread"] }

parentchain-primitives = { package = "core-primitives", path = "../../../primitives/core", default-features = false }

[features]
default = ["std"]
production = []
sgx = [
    "sgx_tstd",
    "base64_sgx",
    "rand-sgx",
    "chrono_sgx",
]
std = [
    "hex/std",
    "base64/std",
    "serde/std",
    "serde_json/std",
    "sp-core/std",
    "sp-std/std",
    "sp-runtime/std",
    "parentchain-primitives/std",
    "rand",
    "chrono",
]
