[package]
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2021"
homepage = "https://integritee.network/"
license = "Apache-2.0"
name = "teeracle-primitives"
repository = "https://github.com/integritee-network/pallets/"
version = "0.1.0"

[dependencies]
# local
common-primitives = { path = "../common", default-features = false }

# encointer
substrate-fixed = { tag = "v0.5.9", default-features = false, git = "https://github.com/encointer/substrate-fixed.git" }

# substrate
sp-std = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.37" }


[features]
default = ["std"]
std = [
  "common-primitives/std",
  "substrate-fixed/std",
  "sp-std/std",
]
