[Unit]
Description=Litentry Relaychain Alice

[Service]
Type=simple
User=USER
WorkingDirectory=/opt/litentry/parachain
ExecStart=/opt/litentry/parachain/polkadot --base-path /opt/litentry/parachain/relay-alice --chain /opt/litentry/parachain/rococo-local-chain-spec.json --alice --port 30336 --ws-port 9946 --rpc-port 9936
Restart=always
RestartSec=120
StandardOutput=append:/opt/litentry/parachain/relay.alice.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
