services:
  demo-sidechain:
    image: integritee-cli:dev
    container_name: integritee-sidechain-demo
    build:
      context: ..
      dockerfile: build.Dockerfile
      target: deployed-client
    depends_on:
      integritee-node:
        condition: service_healthy
      integritee-worker-1:
        condition: service_healthy
    networks:
      - integritee-test-network
    entrypoint:
      "/usr/local/worker-cli/demo_sidechain.sh -p 9912 -A 2011 -u ws://integritee-node
      -V wss://integritee-worker-1 -C /usr/local/bin/integritee-cli 2>&1"
    restart: "no"
networks:
  integritee-test-network:
    driver: bridge